.search{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.input{
  width: 300px;
  font-size: 28px;
  margin-right: 15px;
  outline: none;
  border-radius: 10px;
  background: transparent;
  color: white
}

.btn{
  width: 150px;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
  cursor:pointer;
  border: 0.5px solid black;
  font-weight: 600;
}

.btn:hover{
  background: transparent;
  border: none;
  box-shadow: 0 0 10px 0 red inset,
              0 0 10px 4px red;
  color: white;
}